[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
python-dotenv = "*"
python-multipart = "*"
pyjwt = "*"
pytest = "*"
httpx = "*"
exceptiongroup = "*"
bcrypt = "*"
itsdangerous = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
